{%extends "base/base.html"%}

{%block title%} Home Page {%endblock%}

{% block navbar %}
{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row text-center">
        <h2 class="">Apps</h2>
    </div>
    <div class="row pt-2 text-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="" href="{% url 'blog' %}">
                        <h5 class="card-title">Blog</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="" href="{% url 'accounts' %}">
                        <h5 class="card-title">Accounts</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2 text-center">
        <div class='col'>
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'profile-main' %}">
                        <h5 class="card-title">Profiles</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class='col'>
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'authorization-main' %}">
                        <h5 class="card-title">Authorization</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
