{% extends 'base/base.html' %}

{%block body %}
<div class="container">
    <div class="row mt-4 text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Submit
            </button>
        </form>
    </div>
    <div class="row mt-4 text-center">
        <p>
            If you don't have any account, register from <a href = "{% url 'profile-main' %}">here</a>
        </p>
    </div>
</div>
{% endblock body%}