{% extends 'base/base.html'%}

{%block body%}

<div class="text-center">
    <h1>Function-Based Pagination</h1>
</div>
<div class="text-center">
    <h2><a href="{% url 'func_create' %}">C</a>
        <a href="{% url 'func_detail' 'get-random-post' %}">R</a>
        <a href="{% url 'func_update' 'get-random-post' %}">U</a>
        <a href="{% url 'func_delete' 'get-random-post' %}">D</a>
    </h2>
</div>
{% for post in post_list %}
<div class="text-center">
    <br>
    <a href="{% url 'func_detail' post.slug %}">{{ post.title }}</a><br>
    <i>
        {% if post.author is not None %}
            Author: {{ post.author }},
        {% else %}
            Author: Unknown,
        {% endif %}
        Update: {{ post.update }},
        Status: {{ post.get_status_display }}
    </i>
    <p>{{ post.content|truncatewords:200 }}</p>
</div>
{% endfor %}
<div class="text-center">
    {% if post_list.has_previous %}
    <a href="{% url 'func_pagination' post_list.previous_page_number %}">Previous | </a>
    {% endif%}
    <a>{{ post_list.number }}</a>
    {% if post_list.has_next %}
    <a href="{% url 'func_pagination' post_list.next_page_number %}"> | Next</a>
    {% endif%}
</div>

{%endblock%}