{% extends 'base/base.html'%}

{%block body%}

<div>
    <h1>Class-Based Pagination</h1>
</div>
<div>
    <h2><a href="{% url 'class_create' %}">C</a>
        <a href="{% url 'class_detail' 'get-random-post' %}">R</a>
        <a href="{% url 'class_update' 'get-random-post' %}">U</a>
        <a href="{% url 'class_delete' 'get-random-post' %}">D</a>
    </h2>
</div>
{% for post in post_list %}
<div>
    <br>
    <a href="{% url 'class_detail' post.slug %}">{{ post.title }}</a><br>
    <i>
        {% if post.author is not None %}
            Author: {{ post.author }},
        {% else %}
            Author: Unknown,
        {% endif %}
        Update: {{ post.update }},
        Status: {{ post.get_status_display }}
    </i>
    <p>{{ post.content|truncatewords:200 }}</p>
</div>
{% endfor %}
<div>
    {% if page_obj.has_previous %}
    <a href="{% url 'class_pagination' page_obj.previous_page_number %}">Previous | </a>
    {% endif%}
    <a>{{ page_obj.number }}</a>
    {% if page_obj.has_next %}
    <a href="{% url 'class_pagination' page_obj.next_page_number %}"> | Next</a>
    {% endif%}
</div>

{%endblock%}